* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

svg {
    /* Keyword: Inline element white space margin */
    vertical-align: top;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.b-help-panel {
    --foreground-color: yellow;
    --border-color: gray;
    --color-on-hover: teal;
    list-style-type: none;
    position: fixed;
    left: 0em;
    bottom: 0em;
    display: flex;
    flex-direction: row;
}

.b-help-panel li {
    width: 2.85em;
    height: 2.70em;
    border-top: .15em solid var(--border-color);
    border-bottom: .15em solid var(--border-color);
    border-right: .15em solid var(--border-color);
    color: var(--foreground-color);
    font-weight: bold;
    /* Make text center */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.b-help-panel li:hover {
    background-color: var(--color-on-hover);
}

.b-help-panel li .tooltip {
    visibility: hidden;
    position: fixed;
    bottom: 1em;
    left: 10em;
}

.b-help-panel li:hover .tooltip {
    visibility: visible;
}

/* color picker */

.b-color-picker {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3em;
    height: 3em;
}

.b-color-picker #foreground-picker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    height: 100%;
}

.b-color-picker #background-picker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
}